body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
    text-align: center;
}


nav {
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #555;
    border-radius: 4px;
}


h1 {
    color: #2c3e50;
    animation: asagidanKayma 1.5s ease-out;
}


@keyframes asagidanKayma {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Tablo Tasarımı */
.tech-table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    background-color: white;
}

.tech-table th,
.tech-table td {
    border: 1px solid #ddd;
    padding: 12px;
}

.tech-table th {
    background-color: #333;
    color: white;
}

.tech-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tech-table img {
    border-radius: 5px;
}